
.button {
  background: var(--button-bg, transparent);
  color: var(--button-fg, transparent);
  border: var(--button-brd, 1px solid transparent);
}

.button:hover {
  --button-bg: var(--button-hover-bg);
  --button-fg: var(--button-hover-fg);
  --button-brd: var(--button-hover-brd, 1px solid transparent);
}

.button:active,
.button[aria-pressed="true"] {
  --button-bg: var(--button-active-bg);
  --button-fg: var(--button-active-fg);
  --button-brd: var(--button-active-brd, 1px solid transparent);
}
